[user]
    name = millilux 
    email = millilux@users.noreply.github.com
[core]
    excludesfile = ~/.ignore
    pager = delta
[pull]
    rebase = true
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    side-by-side = true
[diff]
    tool = nvimdiffview
[difftool]
    prompt = false
[difftool "nvimdiffview"]
    cmd = nvim -c DiffviewOpen
[rerere]
	enabled = true
[alias]
    local-only-branches = !git branch --format \"%(refname:short) %(upstream:track)\" | awk '{if($2==\"[gone]\") { print $1 }}'
[alias]
    delete-local-merged = !git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
