debugpy
git-when-merged
# harlequin
jedi
jedi-language-server
msgpack
mypy
pyls-isort
pylsp-mypy
pylsp-rope # pylsp-rope integrates rope refactorings nicely, but not the complete set - hence ropevim, which is *much* more complete as at June 2022
pynvim # For neovim plugins built in Python
# pyright
pytest
pytest-icdiff
python-lsp-ruff
python-lsp-server
rope
ropevim
ruff
uv
