
configuration {
/*	modes: "window,drun,run,ssh";*/
	font: "sans-serif 18";
    show-icons: true;
	drun-display-format: "{name}";
/*  icon-theme: "Tela-circle-black";*/
    kb-row-up: "Up,Control+p";
    kb-row-down: "Down,Control+n";
    me-accept-entry: "MousePrimary";
    me-select-entry: "MouseSecondary";
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "rounded-pink-dark"
