@theme "theme"

configuration {
/*	modes: "window,drun,run,ssh";*/
	font: "sans-serif 18";
    show-icons: true;
	drun-display-format: "{name}";
/*  icon-theme: "Tela-circle-black";*/
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
