* {
    bg0:    rgba(36, 35, 45, 0.5);
    bg1:    rgb(40, 39, 49);
    bg2:    #3D3D3D80;
    bg3:    #EC407AF2;
    fg0:    #E6E6E6;
    fg1:    #FFFFFF;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "rounded-common.rasi"
